.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  height: 100vh;
  background-color: #2f3236;
}

.sidebar-channels {
  flex: 1;
  padding: 10px;
}

.sidebar-header:hover {
  cursor: default;
}

.sidebar-addDM {
  font-size: 20px;
}

.sidebar-addDM:hover {
  cursor: pointer;
  color: whitesmoke;
}

.sidebar-voiceicon {
  color: #4fb185;
}

.voiceicons {
  padding: 5px;
  font-size: 18px;
}

.sidebar-profileinfo {
  flex: 1;
  padding: 5px;
  font-size: 11px;
}

.sidebar-profileinfo > h3 {
  color: white;
}

.profileicons {
  padding: 4px;
  font-size: 20px;
}

.profileicons:hover {
  color: white;
  background-color: #40464b;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-profileinfo > p {
  padding: 2px;
}

.discover-title {
  padding: 2px 5px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.discover-title:hover {
  cursor: default;
}

.server-types {
  margin: 10px 0px;
  flex: 1;
}

.server-info {
  display: flex;
  flex: 1;
  margin-right: 3px;
  align-items: center;
  color: #8e9296;
  background-color: #2f3236;
  padding: 0px 5px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.server-info.active {
  color: white;
  background-color: #7288da;
}

.server-info.active:hover {
  color: white;
  background-color: #7288da;
  cursor: default;
}

.server-info:hover {
  background-color: #40464b;
  color: white;
}

.server-icon {
  padding-right: 20px;
  padding-top: 10px;
}

.server-info > h4 {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: 600;
}
