.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.message-info {
  margin-left: 20px;
}

p {
  padding: 5px 0px;
  font-size: 15px;
  font-weight: 400;
}

.message-timestamp {
  color: gray;
  margin-left: 2px;
  font-size: small;
  font-weight: 400;
}
