.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  height: 100vh;
  background-color: #2f3236;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2f3236;
  color: white;
  border-bottom: 2px solid #26282c;
}

.sidebar-top > h3 {
  font-size: 15px;
}

.sidebar-top:hover {
  cursor: pointer;
}

.sidebar-channels {
  flex: 1;
}

.sidebar-addChannel {
  cursor: pointer;
}

.sidebar-addChannel:hover {
  color: white;
}

.sidebar-channelsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  margin: 10px 0px;
  background-color: #2f3236;
  color: gray;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.sidebar-header:hover {
  color: #b6bfbf;
  cursor: pointer;
}

.sidebar-voice,
.sidebar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3236;
  padding: 5px;
  border-top: 1px solid gray;
}

.sidebar-voiceinfo {
  flex: 1;
  padding: 5px;
}

.sidebar-voiceicon {
  color: #4fb185;
}

.sidebar-voiceinfo > h3 {
  color: #4fb185;
  font-size: 15px;
}

.sidebar-voiceinfo > p {
  font-size: smaller;
}

.voiceicons {
  padding: 5px;
  font-size: 18px;
}

.sidebar-profileinfo {
  flex: 1;
  padding: 5px;
  font-size: 11px;
}

.sidebar-profileinfo > h3 {
  color: white;
}

.profileicons {
  padding: 4px;
  font-size: 13px;
}

.profileicons:hover {
  color: white;
  background-color: #40464b;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-profileinfo > p {
  padding: 2px;
}

.menu {
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 180px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  background: #0c0c0c;
  border-radius: 5px;
}
.menu-item-leave {
  cursor: pointer;
  color: #f04747;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.menu-item-leave:hover {
  color: white;
  background-color: #f04747;
}

.menu-item {
  cursor: pointer;
  color: #b6bfbf;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.menu-item:hover {
  color: white;
  background-color: #7289da;
}
