* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url(https://i.redd.it/vda9rbt01en01.png);
  background-attachment: fixed;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 50px;
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.col-md-6 {
  background:  #23272a;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 5px;
}
.label {
  font-size: 14px;
  font-weight: normal;
  color: #c0c0c0;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-group-addon,
.input-group-addon:focus {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  color: gray;
}

.form-control {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  padding: 15px;
  color: white;
  font-size: 21px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

small {
  font-size: 17px;
  color: white;
}
p {
  font-size: 18px;
  color: white;
}
.col-md-8 {
  padding-left: 25px;
}
.btn-info {
  border: 0px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
}
h2 {
  font-size: 25px;
  color: white;
}
nav {
  color: white;
}
.navbar-brand,
.navbar-brand:hover {
  color: white;
}
.member,
.member:hover {
  color: white;
  font-size: 1.5rem;
}
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
